<section>
    <div class="alert alert-info">
        <p class="mb-0">
            <strong>Information :</strong> Si vous n'avez pas de photo, laissez le champ vide, nous mettrons une photo
            par défaut.
        </p>
    </div>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
    <div class="input-group mb-3">
        <span class="input-group-text bg-light"
              id="inputGroup-light-first-and-last-name">
            Prénom et Nom de famille
        </span>
        {{ form_widget(form.firstname, {'attr': {
            'aria-describedby': 'Prénom de votre lumière',
            'aria-label': 'Prénom de votre lumière',
            'placeholder': 'Prénom',
        }}) }}
        {{ form_widget(form.lastname, {'attr': {
            'aria-describedby': 'Nom de famille de votre lumière',
            'aria-label': 'Nom de famille de votre lumière',
            'placeholder': 'Nom',
        }}) }}
    </div>
    {% if form_errors(form.firstname) %}
    <div class="alert alert-danger">
        {{ form_errors(form.firstname) }}
        {% endif %}
        {% if form_errors(form.lastname) %}
    </div>
    <div class="alert alert-danger">
        {{ form_errors(form.lastname) }}
    </div>
    {% endif %}

    <div class="input-group mb-3">
         <span class="input-group-text bg-light" id="inputGroup-light-pseudo">Pseudo</span>
        {{ form_widget(form.username, {'attr': {
            'class': 'form-control col-6',
            'aria-describedby': 'Pseudo de votre lumière',
            'aria-label': 'Surnom de votre lumière',
            'placeholder': 'Surnom (pseudo)',
        }}) }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text bg-light"
              id="inputGroup-light-birthday">
            Date de naissance
        </span>
        {{ form_widget(form.birthdayAt, {'attr': {
            'class': 'flatpickr flatpickr-input',
            'aria-describedby': 'Date de naissance de votre lumière',
            'aria-label': 'Date de naissance de votre lumière',
        }}) }}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text bg-light" id="inputGroup-light-deceased">Date de décès</span>
        {{ form_widget(form.deceasedAt, {'attr': {
            'class': 'flatpickr',
            'aria-describedby': 'Date de décès de votre lumière',
            'aria-label': 'Date de décès de votre lumière',
        }}) }}
    </div>
    {% if form_errors(form.birthdayAt) %}
        <div class="alert alert-danger">
            {{ form_errors(form.birthdayAt) }}
        </div>
    {% endif %}
    {% if form_errors(form.deceasedAt) %}
        <div class="alert alert-danger">
            {{ form_errors(form.deceasedAt) }}
        </div>
    {% endif %}

    <div class="input-group mb-n3">
        {{ form_widget(form.photoFile, {
            'attr': {
                'class': 'form-control',
                'aria-describedby': 'light-photo',
            },
        }) }}
    </div>

    <div class="d-flex justify-content-start mt-n1">
        {% set photoNameFromDb = light.photo %}
        {% if photoNameFromDb is not same as 'default.jpg' %}
            {% set photoName = photoNameFromDb|split('-')[0] ~ '.' ~ photoNameFromDb|split('.')[1] %}
            <div class="d flex justify-content-end">
                <span class="bg-light text-muted" id="light-photo">
                    Photo actuelle de votre Lumière : {{ photoName }}
                </span>
            </div>
        {% endif %}
    </div>

    {% if form_errors(form.photoFile) %}
        <div class="alert alert-danger">
            {{ form_errors(form.photoFile) }}
        </div>
    {% endif %}

    <div class="d-flex align-items-center mt-4">
        <a href="{{ path('app_light_index') }}"
           class="btn btn-sm btn-secondary-soft rounded-2">
            <i class="fas fa-arrow-left"></i>
            Revenir à la liste
        </a>
        <button type="submit" class="ms-3 btn {{ button_style }}">{{ button_label|default('Enregistrer') }}</button>
    </div>

    {{ form_end(form) }}
</section>

<script>
    const labelForPhotoFileDelete = document.querySelector('label[for="light_photoFile_delete"]');
    const inputPhotoFileDelete = document.querySelector('input#light_photoFile_delete');
    const divParent = inputPhotoFileDelete.parentElement;
    labelForPhotoFileDelete.classList.add('form-check-label');
    inputPhotoFileDelete.classList.add('form-check-input');
    divParent.classList.add('form-check', 'form-switch');

    // Si light.photo = default.jpg, alors on supprime la divParent
    const photoNameFromDb = '{{ photoNameFromDb }}';
    if (photoNameFromDb === 'default.jpg') {
        divParent.remove();
    }
</script>
