{% extends 'base.html.twig' %}

{% block title %} Modification Lumière {% endblock %}

{% block body %}

    {{ include('partials/_menu.html.twig') }}

    <main class="container my-2">

        <h1 class="mb-3 gradient-text h2 text-center">
            Modification de {{ light.firstname }} {{ light.lastname }}
        </h1>

        {{ include('light/_form.html.twig', {'button_style': 'btn-sm btn-warning rounded-2', 'button_label': 'Mettre à jour'}) }}

        {{ include('light/_delete_form.html.twig') }}

    </main>

    {% block javascripts %}
        <script src="{{ asset('vendor/flatpickr/dist/flatpickr.min.js') }}"></script>
    {% endblock %}

{% endblock %}
