{% extends 'base.html.twig' %}

{% block title %}Liste des lumières{% endblock %}

{% block body %}

    {{ include('partials/_menu.html.twig') }}
    <main class="container my-5">

        <h1 class="mb-4 text-primary text-uppercase display-6 fw-light text-decoration-underline">Liste des lumières</h1>

        <table class="table table-sm table-hover align-middle mt-5">
            <thead>
                <tr class="text-center text-danger text-uppercase">
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Pseudo</th>
                    <th>Naissance</th>
                    <th>Décès</th>
                    <th>Création</th>
                    <th>Messages</th>
                    <th>actions</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
            {% for light in lights %}
                <tr class="text-center">
                    <td>
                        {% if light.photo is not same as 'default.jpg' %}
                            <img src="{{ asset('/assets/uploads/photos/lights/' ~ light.photo) }}" alt="miniature {{ light.fullname }}"
                                 class="img-fluid rounded-1" width="80">
                        {% else %}
                            <img src="{{ asset('assets/uploads/photos/default/default.jpg') }}" alt="miniature par défaut"
                                 class="img-fluid rounded-1" width="80">
                        {% endif %}
                    </td>

                    <td>{{ light.firstname }}</td>

                    <td>{{ light.lastname }}</td>

                    <td>
                        {% if not light.username %}
                            <span class="text-center">/</span>
                        {% else %}
                            {{ light.username }}
                        {% endif %}
                    </td>

                    <td>{{ light.birthdayAt ? light.birthdayAt|format_datetime('relative_long', 'none', locale='fr') }}</td>

                    <td>
                        {{ light.deceasedAt ? light.deceasedAt|format_datetime('relative_long', 'none', locale='fr') }}
                        <br> ({{ light.age }} ans)
                    </td>

                    <td>{{ light.createdAt ? light.createdAt|format_datetime('relative_long', 'short', locale='fr')|capitalize }}</td>

                    <td>
                        <div class="d-flex justify-content-around align-items-center">
                            {{ light.sentMessagesCount }}
                            <a href="{{ path('app_message_new', {'receiver': light.id}) }}">
                                <i class="fas fa-envelope text-success-emphasis"></i>
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="me-2 small" href="{{ path('app_light_show', {'id': light.id}) }}">
                                <i class="fas fa-eye"></i>
                                Voir
                            </a>
                            <a class="me-2 small" href="{{ path('app_light_edit', {'id': light.id}) }}">
                                <i class="fas fa-edit"></i>
                                Éditer
                            </a>
                        </div>
                    </td>

                    <td>
                        <fieldset class="d-flex justify-content-center align-items-center mt-2">
                            <form method="post" action="{{ path('app_light_delete', {'id': light.id}) }}"
                                  onsubmit="return confirm('Voulez-vous vraiment effacer {{ light.fullname }}?. Vous ne pourrez plus revenir en arrière, les messages seront également effacés.')">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ light.id) }}">
                                <button class="border-0 small text-white bg-danger rounded-3">
                                    <i class="fas fa-heart-broken"></i>
                                    Effacer
                                </button>
                            </form>
                        </fieldset>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td class="py-3" colspan="10">
                        <span class="h2 lead text-center text-primary">
                            Aucune lumière n'a été trouvée.
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_light_new') }}">
            <button class="btn btn-primary">Ajouter une lumière</button>
        </a>
    </main>

{% endblock %}
