{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    {{ include('partials/_menu.html.twig') }}
    <!-- **************** MAIN CONTENT START **************** -->
    <main class="pt-5">
        <!-- Page header START -->
        <div class="py-5"
             style="background-image:url({{ asset('images/bg/header.jpg') }}); background-position: center center; background-size: cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center py-5">
                    <div class="col-md-6 text-center">
                        <!-- Title -->
                        <h1 class="text-white">ETERNO : Lumière du Souvenir</h1>
                        <p class="mb-4 text-white">Laissez vos mots briller au-delà des frontières du temps..</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page header END -->

        <!-- Container START -->
        <div class="py-5">
            <div class="container">

                <div class="tab-content mb-0 pb-0">
                    <!-- For you tab START -->
                    <div class="tab-pane fade show active" id="tab-1">

                        {% if app.user %}

                            {% if lights is empty %}
                                <div class="alert alert-success" role="alert">
                                    <h4 class="alert-heading">Bienvenue sur ETERNO !</h4>
                                    <p>
                                        Bonjour {{ app.user.firstname }}, vous n'avez pas encore de lumière. Pourquoi ne pas en créer une ?
                                    </p>
                                    <hr>
                                    <p class="mb-0">
                                        <a href="{{ path('app_light_new') }}" class="btn btn-outline-success">Créer une lumière</a>
                                    </p>
                                </div>
                            {% endif %}

                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                {% for light in lights %}
                                    <div class="col">
                                        <div class="card" style="border-radius: 15px;">
                                            <div class="card-body p-4">
                                                <div class="d-flex text-black">
                                                    <div class="d-flex align-items-center">
                                                        {% if light.photo is not same as 'default.jpg' %}
                                                            <img src="{{ asset('uploads/photos/' ~ light.photo) }}"
                                                                 alt="miniature {{ light.fullname }}"
                                                                 class="img-fluid"
                                                                 style="max-height: 180px; max-width: 180px; border-radius: 10px;"
                                                            >
                                                        {% else %}
                                                            <img src="{{ asset('uploads/photos/default/' ~ light.photo) }}"
                                                                 alt="miniature par défaut"
                                                                 class="img-fluid"
                                                                 style="max-height: 180px; max-width: 180px; border-radius: 10px;"
                                                            >
                                                        {% endif %}
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">

                                                        <div class="d-flex justify-content-between">
                                                            <div class="">
                                                                <h5 class="mb-1 h5">{{ light.firstname }}</h5>
                                                                <p class="mb-2 pb-1 h6 fw-light" >{{ light.username }}</p>
                                                            </div>

                                                            <div>
                                                                <span class="h5">
                                                                    <i class="fas fa-age"></i>
                                                                    {{ light.age }}
                                                                </span>
                                                                <p class="h6 text-end fw-lighter">ans</p>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-between rounded-3 p-2 mb-2"
                                                             style="background-color: #efefef;">
                                                            <div>
                                                                <p class="small mb-1 text-end"
                                                                   style="color: rgba(103, 106, 121, 0.5)">
                                                                    Messages
                                                                </p>
                                                                <p class="mb-0">
                                                                    {{ light.sentMessagesCount }}
                                                                </p>
                                                            </div>
                                                            <div class="px-3">
                                                                <p class="small mb-1 text-end"
                                                                   style="color: rgba(103, 106, 121, 0.5)">
                                                                    Départ
                                                                </p>
                                                                <p class="mb-0">{{ light.deceasedAt | date('d/m/Y') }}</p>
                                                            </div>
                                                            <div>
                                                                <p class="small mb-1 text-end"
                                                                   style="color: rgba(103, 106, 121, 0.5)">Temps
                                                                    écoulé
                                                                </p>
                                                                <p class="mb-0">
                                                                    {{ light.deceasedAt | ago }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex pt-1">
                                                            {# TODO: Ecrire un message #}
                                                            <a href="{{ path('app_message_new', {'receiver': light.id}) }}" class="btn btn-outline-primary me-2 flex-grow-1">
                                                                <i class="fas fa-envelope"></i>
                                                                Lui écrire
                                                            </a>


                                                            <form method="post" action="{{ path('app_light_delete', {'id': light.id}) }}"
                                                                  onsubmit="return confirm('Voulez-vous vraiment effacer {{ light.fullname }}?. Vous ne pourrez plus revenir en arrière, les messages seront également effacés.')">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ light.id) }}">
                                                                <button class="border-0 btn btn-danger flex-grow-1">
                                                                    <i class="fas fa-heart-broken"></i>
                                                                    Éteindre la lumière
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        {% else %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Bienvenue sur ETERNO !</h4>
                                <p>
                                    Vous n'êtes pas connecté, pour accéder à toutes les fonctionnalités du site, veuillez vous connecter ou vous inscrire.
                                </p>
                                <hr>
                                <p class="mb-0">
                                    <a href="{{ path('app_login') }}" class="btn btn-outline-success">Se connecter</a>
                                </p>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
        <!-- Container END -->

    </main>

{% endblock %}
