{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}


{% block body %}
    {{ include('partials/_menu.html.twig') }}
    <!-- **************** MAIN CONTENT START **************** -->
    <main class="pt-5">
        <!-- Page header START -->
        <div class="py-5"
             style="background-image:url({{ asset('images/bg/06.jpg') }}); background-position: center center; background-size: cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row justify-content-center py-5">
                    <div class="col-md-6 text-center">
                        <!-- Title -->
                        <h1 class="text-white">ETERNO : Lumière du Souvenir</h1>
                        <p class="mb-4 text-white">Laissez vos mots briller au-delà des frontières du temps..</p>
                        <!-- Search form START -->
                        {#<form class="rounded position-relative">
                            <input class="form-control form-control-lg ps-5" type="search" placeholder="Search..."
                                   aria-label="Search">
                            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y"
                                    type="submit"><i class="bi bi-search fs-5 ps-1"> </i></button>
                        </form>#}
                        <!-- Search form END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Page header END -->

        {#    <!-- Container START -->
    <div class="py-5">
        <div class="container">

            <div class="row g-4">
                <div class="col-12">
                    <!-- Tab nav line START -->
                    <ul class="nav nav-tabs nav-tabs-white justify-content-center border-0">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> For you </a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2"> COVID-19 </a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-3"> Trending </a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-4"> News </a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-5"> Sports </a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-6"> Entertainment </a>
                        </li>
                    </ul>
                    <!-- Tab nav line START -->
                </div>
            </div>

            <div class="tab-content mb-0 pb-0">
                <!-- For you tab START -->
                <div class="tab-pane fade show active" id="tab-1">

                    <div class="row g-4">
                        <!-- Main content START -->
                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <!-- Card header END -->
                                <img class="card-img-top" src="{{ asset('images/post/16by9/01.jpg') }}" alt="Post">
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Speedily say has suitable disposal add
                                        boy. On forth doubt miles of child.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>(56)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(12)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(3)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->

                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <!-- Slider START -->
                                <div class="tiny-slider dots-inside dots-white">
                                    <div class="tiny-slider-inner" data-arrow="false" data-dots="true"
                                         data-autoplay="true" data-items="1" data-gutter="0">
                                        <div class="overflow-hidden">
                                            <img class="card-img-top" src="{{ asset('images/post/16by9/02.jpg') }}" alt="Post">
                                        </div>
                                        <div class="overflow-hidden">
                                            <img class="card-img-top" src="{{ asset('images/post/16by9/13.jpg') }}" alt="Post">
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Passage its ten led hearted removal
                                        cordial. Preference any astonished.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(23)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(10)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction2"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(2)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction2">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/03.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Exercise joy man children rejoiced.
                                        Yet uncommonly his ten who.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(102)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(65)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction3"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(40)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction3">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->

                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card p-0 shadow-none border-0 position-relative">
                                <!-- Video image -->
                                <div class="position-relative">
                                    <img class="rounded" src="{{ asset('images/post/16by9/04.jpg') }}" alt="">
                                    <!-- Play icon -->
                                    <div class="position-absolute top-0 end-0 p-3">
                                        <a class="icon-md bg-danger text-white rounded-circle" data-glightbox
                                           href="assets/images/videos/video-call.mp4"> <i
                                                    class="bi bi-play-fill fs-5"> </i> </a>
                                    </div>
                                    <!-- Duration -->
                                    <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                                        <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto">1 min ago</span>
                                    </div>
                                </div>
                                <!-- Video info -->
                                <div class="card-body">
                                    <a class="text-body" href="post-details.html">Luckily cheered colonel I do we attack
                                        highest enabled tried law yet.</a>
                                    <!-- Video title  -->
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(89)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(56)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction4"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(30)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction4">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/05.jpg') }}" alt="Post">
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">She new course gets living within
                                        Elinor joy. she rapturous suffering concealed.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(78)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(32)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction5"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(23)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction5">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <div class="ratio ratio-16x9 card-img-top overflow-hidden">
                                    <iframe src="https://www.youtube.com/embed/7E45f46yDFI" title="YouTube video"
                                            allowfullscreen></iframe>
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Water timed folly right aware if oh
                                        truth. imprudence attachment.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(68)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(56)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction6"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(12)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction6">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/06.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Water timed folly right aware if oh
                                        truth. imprudence attachment.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(78)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(35)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction7"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(40)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction7">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <!-- Card img -->
                                <div class="overflow-hidden fullscreen-video w-100">
                                    <!-- HTML video START -->
                                    <div class="player-wrapper card-img-top overflow-hidden">
                                        <video class="player-html" controls crossorigin="anonymous"
                                               poster="{{ asset('images/videos/poster.jpg') }}">
                                            <source src="{{ asset('images/videos/video-feed.mp4') }}" type="video/mp4">
                                        </video>
                                    </div>
                                    <!-- HTML video END -->
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Match way these she avoids seeing
                                        death. She who drift their fat off.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(89)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(20)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction8"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(23)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction8">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/08.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Ecstatic followed handsome drawings
                                        entirely Mrs one yet outweigh.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(78)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(23)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction9"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(12)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction9">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <!-- <img class="card-img-top" src="assets/images/post/16by9/07.jpg" alt="Post"> -->
                                <div class="card-image position-relative">
                                    <img class="card-img-top" src="{{ asset('images/post/16by9/07.jpg') }}" alt="Card image">
                                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                        <!-- Card overlay -->
                                        <div class="w-100 my-auto">
                                            <!-- Audio START -->
                                            <div class="bg-white rounded">
                                                <audio class="player-audio" crossorigin>
                                                    <source src="{{ asset('images/videos/audio.mp3') }}" type="audio/mp3">
                                                </audio>
                                            </div>
                                            <!-- Audio END -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Handsome met debating sir dwelling age
                                        material he worse dried.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(45)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(36)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction10"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(56)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction10">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/14.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Departure defective arranging
                                        rapturous did believe him all had supported.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(88)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(25)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction11"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(30)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction11">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <!-- Loading button START -->
                        <div class="col-12 text-center">
                            <button class="btn btn-primary mb-0" type="button">
                                <span class="spinner-border spinner-border-sm me-2" role="status"
                                      aria-hidden="true"></span>
                                Loading
                            </button>
                        </div>
                        <!-- Loading button END -->

                        <!-- Main content END -->
                    </div> <!-- Row END -->

                </div>
                <!-- For you tab END -->

                <!-- COVID-19 tab START -->
                <div class="tab-pane fade" id="tab-2">

                    <div class="row g-4">
                        <!-- Main content START -->
                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <!-- Card header END -->
                                <img class="card-img-top" src="{{ asset('images/post/16by9/09.jpg') }}" alt="Post">
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Speedily say has suitable disposal add
                                        boy. On forth doubt miles of child.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(58)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(23)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction12"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(15)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction12">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->

                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/10.jpg') }}" alt="Post">
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Passage its ten led hearted removal
                                        cordial. Preference any astonished.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(69)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(45)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction13"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(23)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction13">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/11.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Exercise joy man children rejoiced.
                                        Yet uncommonly his ten who.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(100)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(65)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction14"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(47)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction14">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->

                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Card feed item START -->
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ asset('images/post/16by9/12.jpg') }}" alt="Post">
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body">
                                    <!-- Info -->
                                    <a class="text-body" href="post-details.html">Departure defective arranging
                                        rapturous did believe him all had supported.</a>
                                    <!-- Feed react START -->
                                    <ul class="nav nav-stack flex-wrap small mt-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#!"> <i
                                                        class="bi bi-hand-thumbs-up-fill pe-1"></i>(58)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>(23)</a>
                                        </li>
                                        <!-- Card share action START -->
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link mb-0" href="#" id="cardShareAction15"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-reply-fill flip-horizontal ps-1"></i>(45)
                                            </a>
                                            <!-- Card share action dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="cardShareAction15">
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-envelope fa-fw pe-2"></i>Send via Direct
                                                        Message</a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                                    </a></li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#"> <i
                                                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News
                                                        Feed</a></li>
                                            </ul>
                                        </li>
                                        <!-- Card share action END -->
                                    </ul>
                                    <!-- Feed react END -->
                                </div>
                                <!-- Card body END -->

                            </div>
                            <!-- Card feed item END -->
                        </div>

                        <!-- Loading button START -->
                        <div class="col-12 text-center">
                            <button class="btn btn-primary" type="button">
                                <span class="spinner-border spinner-border-sm me-2" role="status"
                                      aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                        <!-- Loading button END -->

                        <!-- Main content END -->
                    </div> <!-- Row END -->

                </div>
                <!-- COVID-19 tab END -->

                <!-- Trending tab START -->
                <div class="tab-pane fade text-center" id="tab-3">
                    <div class="my-sm-5 py-sm-5">
                        <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                        <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                        <button class="btn btn-primary-soft btn-sm"> View recent post</button>
                    </div>
                </div>
                <!-- Trending tab END -->

                <!-- News tab START -->
                <div class="tab-pane fade text-center" id="tab-4">
                    <div class="my-sm-5 py-sm-5">
                        <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                        <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                        <button class="btn btn-primary-soft btn-sm"> View recent post</button>
                    </div>
                </div>
                <!-- News tab END -->

                <!-- Sports tab START -->
                <div class="tab-pane fade text-center" id="tab-5">
                    <div class="my-sm-5 py-sm-5">
                        <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                        <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                        <button class="btn btn-primary-soft btn-sm"> View recent post</button>
                    </div>
                </div>
                <!-- Sports tab END -->

                <!-- Entertainment tab START -->
                <div class="tab-pane fade text-center" id="tab-6">
                    <div class="my-sm-5 py-sm-5">
                        <i class="display-1 text-primary text-opacity-25 bi bi-card-text"> </i>
                        <h4 class="mt-2 mb-3 text-body">Nothing to see here</h4>
                        <button class="btn btn-primary-soft btn-sm"> View recent post</button>
                    </div>
                </div>
                <!-- Entertainment tab END -->

            </div>
        </div>
    </div>
    <!-- Container END --> #}

    </main>

{% endblock %}
