<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Papoel">
  <meta name="description"
        content="Un espace pour honorer et se souvenir de nos êtres chers disparus, où vous pouvez envoyer des messages à ceux qui sont partis."
  >

  <!-- Balises pour le référencement -->
  <title>Eterno</title>
  <!-- Permet aux moteurs de recherche d'indexer la page -->
  <meta name="robots" content="index, follow">
  <!-- Favicon -->
  <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('css/home.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: SoftLand
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- Dark mode -->
<script>
  const storedTheme = localStorage.getItem('theme')

  const getPreferredTheme = () => {
    if (storedTheme) {
      return storedTheme
    }
    return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
  }

  const setTheme = function (theme) {
    if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.setAttribute('data-bs-theme', 'dark')
    } else {
      document.documentElement.setAttribute('data-bs-theme', theme)
    }
  }

  setTheme(getPreferredTheme())

  window.addEventListener('DOMContentLoaded', () => {
    let el = document.querySelector('.theme-icon-active');
    if (el !== 'undefined' && el !== null) {
      const showActiveTheme = theme => {
        const activeThemeIcon = document.querySelector('.theme-icon-active use')
        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
        const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
          element.classList.remove('active')
        })

        btnToActive.classList.add('active')
        activeThemeIcon.setAttribute('href', svgOfActiveBtn)
      }

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
        if (storedTheme !== 'light' || storedTheme !== 'dark') {
          setTheme(getPreferredTheme())
        }
      })

      showActiveTheme(getPreferredTheme())

      document.querySelectorAll('[data-bs-theme-value]')
              .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                          const theme = toggle.getAttribute('data-bs-theme-value')
                          localStorage.setItem('theme', theme)
                          setTheme(theme)
                          showActiveTheme(theme)
                        })
                      }
              )
    }
  })
</script>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1>
          <a href="#">Eterno</a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html.twig"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="#">Accueil</a></li>
          <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section class="hero-section" id="hero">

    <div class="wave">
      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start">
              <h1 data-aos="fade-right">Eterno, Souvenirs immortels, amour éternel</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
                Eterno est une plateforme privée accessible uniquement sur invitation.
                Cependant, si vous souhaitez en savoir plus, vous pouvez
                <a class="nav-item text-success" href="{{ path('app_contact') }}" target="_blank">
                  nous contacter
                </a>.
              </p>
              <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500">
                <a href="{{ path('app_login') }}" class="btn btn-outline-white">Se connecter</a>
              </p>
            </div>
            <div class="col-lg-4 iphone-wrap">
              <img style="height: 505px; width: 250px; background-color: ghostwhite; padding: 0 10px" src="{{ asset('images/img/phone_01.svg') }}" alt="Image" class="phone-1" data-aos="fade-right">
              <img style="height: 505px; width: 250px; background-color: whitesmoke; padding: 0 10px" src="{{ asset('images/img/phone_02.svg') }}" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <section class="section">
      <div class="container">

        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8" data-aos="fade-up">
            <h2 class="section-heading">Créez des "Lumières" pour vos êtres chers</h2>
            <p class="section-subheading">Envoyez des messages cryptés de bout en bout, garantissant la confidentialité absolue, même pour les administrateurs.</p>
            <a href="#" class="btn btn-primary">Demander un accès</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <i class="bi bi-lock"></i>
              </div>
              <h3 class="mb-3">Confidentialité absolue</h3>
              <p>Vos messages sont cryptés de bout en bout, garantissant la confidentialité totale.</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <i class="bi bi-person-plus"></i>
              </div>
              <h3 class="mb-3">Accès sur invitation</h3>
              <p>L'application est accessible uniquement par invitation, garantissant la sécurité et la vie privée de nos utilisateurs.</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <i class="bi bi-chat-dots"></i>
              </div>
              <h3 class="mb-3">Communication sécurisée</h3>
              <p>Créez des "Lumières" pour dialoguer avec vos êtres chers décédés, dans un environnement totalement sécurisé.</p>
            </div>
          </div>
        </div>

      </div>
    </section>


    <section class="section">

      <section class="section">
        <div class="container">

          <div class="row justify-content-center text-center mb-5" data-aos="fade">
            <div class="col-md-6 mb-5">
              <img src="{{ asset('images/img/undraw_svg_1.svg') }}" alt="Illustration" class="img-fluid">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" data-aos="fade-up">
              <div class="step">
                <span class="number">01</span>
                <h3>Rejoignez notre communauté</h3>
                <p>Connectez-vous à notre application après avoir été invité par un ami ou par le créateur du site.</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="step">
                <span class="number">02</span>
                <h3>Personnalisez votre expérience</h3>
                <p>Découvrez des fonctionnalités personnalisées pour échanger des messages en toute confidentialité.</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="step">
                <span class="number">03</span>
                <h3>Communiquez avec vos proches</h3>
                <p>Utilisez notre application pour échanger des messages avec vos proches disparus en toute intimité.</p>
              </div>
            </div>
          </div>

        </div>
      </section>


    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 me-auto">
            <h2 class="mb-4">Échangez des messages en toute intimité</h2>
            <p class="mb-4">
              Créez des "Lumières" pour communiquer avec vos proches disparus dans un environnement sécurisé et
              confidentiel.
            </p>
            <p><a href="{{ path('app_contact') }}" class="btn btn-primary">Demander un accès</a></p>
          </div>
          <div class="col-md-6" data-aos="fade-left">
            <img src="{{ asset('images/img/undraw_svg_2.svg') }}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 ms-auto order-2">
            <h2 class="mb-4">Recueillez des souvenirs précieux</h2>
            <p class="mb-4">
              Utilisez notre application pour rassembler et préserver les souvenirs précieux de vos proches disparus.
              Créez des "Lumières" pour partager des moments, et des histoires qui leur sont dédiés.
            </p>
            <p><a href="{{ path('app_contact') }}" class="btn btn-primary">Demander un accès</a></p>
          </div>
          <div class="col-md-6" data-aos="fade-right">
            <img src="{{ asset('images/img/undraw_svg_3.svg') }}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section border-top border-bottom">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
            <h2 class="section-heading">Avis de nos utilisateurs</h2>
            <p>Les témoignages de nos utilisateurs seront bientôt disponibles. Restez à l'écoute !</p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="review text-center">
                    <p class="stars">
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill"></span>
                      <span class="bi bi-star-fill muted"></span>
                    </p>
                    <h3>Excellent App!</h3>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ea delectus pariatur, numquam
                        aperiam dolore nam optio dolorem facilis itaque voluptatum recusandae deleniti minus animi,
                        provident voluptates consectetur maiores quos.</p>
                    </blockquote>
                    <p class="review-user">
                      <img src="{{ asset('images/img/person_1.jpg') }}" alt="Image" class="img-fluid rounded-circle mb-3">
                      <span class="d-block">
                    <span class="text-black">Jean Doe</span>, &mdash; App User
                  </span>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->


    <section class="section cta-section bg-dark text-white py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8 mx-auto text-center">
            <h2>Vous avez besoin d'une application sur mesure ?</h2>
            <p class="lead">Contactez-moi dès aujourd'hui pour discuter de votre projet et découvrir comment je peux vous aider à concrétiser votre vision.</p>
            <p>
              <a href="{{ path('app_contact') }}" class="btn btn-primary">Me contacter</a>
            </p>
          </div>
        </div>
      </div>
    </section><!-- End CTA Section -->



  </main><!-- End #main -->

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>À propos de moi</h3>
          <p>Je suis un développeur passionné par la création d'applications web et mobiles sur mesure pour répondre à vos besoins spécifiques. Contactez-moi pour discuter de votre projet !</p>
          <p class="social">
            <a href="https://twitter.com/PBriffard" target="_blank"><span class="bi bi-twitter"></span></a>
            <a href="https://www.github.com/Papoel" target="_blank"><span class="bi bi-github"></span></a>
            <a href="https://www.linkedin.com/in/pascal-briffard-48342ba9/" target="_blank"><span class="bi bi-linkedin"></span></a>
          </p>
        </div>
        <div class="col-md-7 ms-auto">
          <div class="row site-section pt-0">
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="#">Accueil</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Services</h3>
              <ul class="list-unstyled">
                <li><span class="text-dark">Développement web</span></li>
                <li><span class="text-dark">Consultation technique</span></li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Contact</h3>
              <ul class="list-unstyled">
                <li>
                  <a href="mailto:bridevproject@gmail.com?subject=Contact depuis le site Eterno">
                    bridevproject@gmail.com
                  </a>
                </li>
                <li><a href="#">Téléphone: +33 766 345 110</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Papoel. Tous droits réservés</p>
          <div class="credits">
            Conçu par Papoel, propulsé par &middot; Symfony 6.4 &middot;
          </div>
        </div>
      </div>

    </div>
  </footer>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ asset('vendor/aos/aos.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('js/home.js') }}"></script>

</body>

</html>
