{% extends('base.html.twig') %}

{% block title %}Paramètres du compte{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/choices/styles/choices.min.css') }}">
{% endblock %}

{% block body %}
    {{ include('partials/_menu.html.twig') }}
    <!-- **************** MAIN CONTENT START **************** -->
    <main class="my-4">
        <!-- Container START -->
        <div class="container">
            <div class="row">

                <!-- Sidenav START -->
                <div class="col-lg-3">

                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <div class="d-flex align-items-center mb-4 d-lg-none">
                        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
                            <span class="h6 mb-0 fw-bold d-lg-none ms-2">Menu</span>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->

                    <nav class="navbar navbar-light navbar-expand-lg mx-0">
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
                            <!-- Offcanvas header -->
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close text-reset ms-auto"
                                        data-bs-dismiss="offcanvas"
                                        aria-label="Close">
                                </button>
                            </div>

                            <!-- Offcanvas body -->
                            <div class="offcanvas-body p-0">
                                <!-- Card START -->
                                <div class="card w-100">
                                    <!-- Card body START -->
                                    <div class="card-body">
                                        <!-- Side Nav START -->
                                        <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
                                            <li class="nav-item" data-bs-dismiss="offcanvas">
                                                <a class="nav-link d-flex mb-0 active" href="#nav-setting-tab-1"
                                                   data-bs-toggle="tab">
                                                    <img class="me-2 h-20px fa-fw"
                                                         src="{{ asset('images/icon/person-outline-filled.svg') }}"
                                                         alt="">
                                                    <span> Compte </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link d-flex mb-0" href="{{ path('app_light_index') }}">
                                                    <img class="me-2 h-20px fa-fw"
                                                         src="{{ asset('images/icon/bulb-outline-filled.svg') }}"
                                                         alt="">
                                                    <span> Gestion des lumières </span>
                                                </a>
                                            </li>
                                            <li class="nav-item" data-bs-dismiss="offcanvas">
                                                <a class="nav-link d-flex mb-0" href="#nav-setting-tab-2"
                                                   data-bs-toggle="tab">
                                                    <img class="me-2 h-20px fa-fw"
                                                         src="{{ asset('images/icon/handshake-outline-filled.svg') }}"
                                                         alt="">
                                                    <span> Invitation </span>
                                                </a>
                                            </li>
                                            <li class="nav-item" data-bs-dismiss="offcanvas">
                                                <a class="nav-link d-flex mb-0" href="#nav-setting-tab-3"
                                                   data-bs-toggle="tab">
                                                    <img class="me-2 h-20px fa-fw"
                                                         src="{{ asset('images/icon/shield-outline-filled.svg') }}"
                                                         alt="">
                                                    <span>Vie privée et sécurité </span>
                                                </a>
                                            </li>
                                            <li class="nav-item" data-bs-dismiss="offcanvas">
                                                <a class="nav-link d-flex mb-0" href="#nav-setting-tab-4"
                                                   data-bs-toggle="tab">
                                                    <img class="me-2 h-20px fa-fw"
                                                         src="{{ asset('images/icon/trash-var-outline-filled.svg') }}"
                                                         alt="">
                                                    <span class="text-danger">Clôturer le compte </span>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="nav-item">
                                                <a class="nav-link d-flex mb-0" href="{{ path('app_logout') }}">
                                                    <img class="me-2 h-20px fa-fw text-danger"
                                                         src="{{ asset('images/icon/logout-user.svg') }}"
                                                         alt="">
                                                    <span>Déconnexion</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Side Nav END -->
                                    </div>
                                    <!-- Card body END -->
                                </div>
                                <!-- Card END -->
                            </div>
                            <p class="small text-center mt-1">
                                {% set startProd = 2024 %}
                                {% if startProd < 'now'|date('Y') %}
                                    &copy; Réalisé par <a href="https://www.github.com/Papoel" target="_blank">Papoel</a>
                                    &middot; {{ startProd }} - {{ 'now'|date('Y') }}
                                {% else %}
                                    &copy; Réalisé par <a href="https://www.github.com/Papoel" target="_blank">Papoel</a>
                                    &middot; {{ startProd }}
                                {% endif %}
                            </p>
                        </div>
                    </nav>
                </div>
                <!-- Sidenav END -->

                <!-- Main content START -->
                <div class="col-lg-6 vstack gap-4">
                    <!-- Setting Tab content START -->
                    <div class="tab-content py-0 mb-0">

                        <!-- Account setting tab START -->
                        <div class="tab-pane show active fade" id="nav-setting-tab-1">
                            {{ include('partials/_notifications.html.twig') }}

                            <!-- Account settings START -->
                            <section class="card mb-4">
                                <!-- Title START -->
                                <div class="d-flex justify-content-between">
                                    <div class="card-header border-0 pb-0">
                                        <h1 class="h5 card-title">Paramètres du compte</h1>
                                        <p class="mb-0">C'est ici que vous allez mettre à jour vos informations.</p>
                                    </div>
                                    <!-- Avatar -->
                                    {{ include('settings/avatar/_avatar_select.html.twig') }}

                                </div>
                                <div class="card-body">
                                    <!-- Formulaire de renseignements Utilisateur -->
                                    {{ include('settings/user/index.html.twig') }}
                                </div>
                            </section>
                            <!-- Account settings END -->

                            <!-- Change your password START -->
                            {{ include('settings/password/_password.html.twig') }}
                            <!-- Card END -->
                        </div>
                        <!-- Account setting tab END -->
                        <div class="tab-pane fade" id="nav-setting-tab-2">
                            <!-- Invitation START -->
                            {{ include('settings/invitation/_invitation.html.twig') }}
                            <!-- List of all Invitation send -->
                            <div class="card mt-3">
                                {{ include('settings/invitation/_list.html.twig') }}
                            </div>
                        </div>

                        <!-- Privacy and safety tab START -->
                        <div class="tab-pane fade" id="nav-setting-tab-3">
                            <!-- Privacy and safety START -->
                            {{ include('settings/privacy/privacy.html.twig') }}
                            <!-- Privacy and safety END -->
                        </div>
                        <!-- Privacy and safety tab END -->

                        <!-- Close account tab START -->
                        <div class="tab-pane fade" id="nav-setting-tab-4">
                            {{ include('settings/user/_account.delte.html.twig') }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <script>
        function invitationCountDown() {
            const remainingTimeElements = document.querySelectorAll('.remaining-time');

            remainingTimeElements.forEach(element => {
                const createdAt = new Date(element.getAttribute('data-created-at'));
                const expirationDate = new Date(createdAt.getTime() + 30 * 24 * 60 * 60 * 1000); // Adding one month
                let remainingTime = expirationDate - Date.now();

                if (remainingTime <= 0) {
                    element.innerText = "Expiré";
                    element.classList.add('bg-danger');
                    return; // Exit the loop for this element
                }

                let days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
                let hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

                element.innerText = days + " j " + hours + " h " + minutes + " min " + seconds + " sec";
            });
        }

        setInterval(invitationCountDown, 1000);
    </script>

    {% block javascripts %}
        <script src="{{ asset('vendor/pswmeter/pswmeter.min.js') }}"></script>
        <script src="{{ asset('vendor/flatpickr/dist/flatpickr.min.js') }}"></script>
    {% endblock %}

{% endblock %}
