<div class="card">
    <div class="card-header border-0 pb-0">
        <h5 class="card-title">Modifier le mot de passe</h5>
        <p class="mb-0 text-muted">
            Lors de votre prochaine connexion, vous devrez utiliser votre nouveau mot de
            passe.
        </p>
    </div>
    <div class="card-body">
        {{ form_start(formUserPassword, {'attr': {'class': 'row g-3', 'id': 'form_password_update'}}) }}
        <!-- Current password -->
        <div class="col-12">
            <label class="form-label" for="{{ formUserPassword.currentPassword.vars.id }}">
                {{ formUserPassword.currentPassword.vars.label }}
            </label>
            {% if formUserPassword.currentPassword.vars.errors|length > 0 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form_errors(formUserPassword.currentPassword) }}
                </div>
            {% endif %}
            <div class="input-group">
                {{ form_widget(formUserPassword.currentPassword) }}
                <span class="input-group-text p-0">
                    <i class="password-icon fa-solid fa-eye-slash cursor-pointer p-2 w-40px mt-2"></i>
                </span>
            </div>
        </div>

        <!-- New password -->
        <div class="col-12">
            <label class="form-label"
                   for="{{ formUserPassword.newPassword.first.vars.id }}">
                {{ formUserPassword.newPassword.first.vars.label }}
            </label>
            {% if formUserPassword.newPassword.first.vars.errors|length > 0 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form_errors(formUserPassword.newPassword.first) }}
                </div>
            {% endif %}
            <div class="input-group">
                {{ form_widget(formUserPassword.newPassword.first) }}
                <span class="input-group-text p-0">
                    <i class="password-icon fa-solid fa-eye-slash cursor-pointer p-2 w-40px mt-2"></i>
                </span>
            </div>

            <!-- Pswmeter -->
            <div id="pswmeter" class="mt-2"></div>
            <div id="pswmeter-message" class="rounded mt-1 text-muted"></div>
        </div>
        <!-- Confirm password -->
        <div class="col-12">
            <label class="form-label"
                   for="{{ formUserPassword.newPassword.second.vars.id }}"
                   class="form-label">
                {{ formUserPassword.newPassword.second.vars.label }}
            </label>
            {% if formUserPassword.newPassword.second.vars.errors|length > 0 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form_errors(formUserPassword.newPassword.second) }}
                </div>
            {% endif %}
            <div class="input-group">
                {{ form_widget(formUserPassword.newPassword.second) }}
                <span class="input-group-text p-0">
                    <i class="password-icon fa-solid fa-eye-slash cursor-pointer p-2 w-40px mt-2"></i>
                </span>
            </div>
        </div>

        <div class="col-12 text-end">
            <button type="submit" class="btn btn-sm btn-primary mb-0">
                Mettre à jour le mot de passe
            </button>
        </div>
        {{ form_end(formUserPassword) }}
    </div>
</div>
