<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark">
        <meta name="author" content="Papoel">
        <meta name="description"
              content="Un espace pour honorer et se souvenir de nos êtres chers disparus, où vous pouvez envoyer des messages à ceux qui sont partis."
        >

        <!-- Balises pour le référencement -->
        <title>Eterno - {% block title %}{% endblock %}</title>
        <!-- Permet aux moteurs de recherche d'indexer la page -->
        <meta name="robots" content="index, follow">
        <!-- Favicon -->
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

        <!-- Dark mode -->
        <script>
            const storedTheme = localStorage.getItem('theme')

            const getPreferredTheme = () => {
                if (storedTheme) {
                    return storedTheme
                }
                return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
            }

            const setTheme = function (theme) {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }

            setTheme(getPreferredTheme())

            window.addEventListener('DOMContentLoaded', () => {
                let el = document.querySelector('.theme-icon-active');
                if (el !== 'undefined' && el !== null) {
                    const showActiveTheme = theme => {
                        const activeThemeIcon = document.querySelector('.theme-icon-active use')
                        const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                        const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                        document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                            element.classList.remove('active')
                        })

                        btnToActive.classList.add('active')
                        activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                    }

                    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                        if (storedTheme !== 'light' || storedTheme !== 'dark') {
                            setTheme(getPreferredTheme())
                        }
                    })

                    showActiveTheme(getPreferredTheme())

                    document.querySelectorAll('[data-bs-theme-value]')
                        .forEach(toggle => {
                            toggle.addEventListener('click', () => {
                                const theme = toggle.getAttribute('data-bs-theme-value')
                                localStorage.setItem('theme', theme)
                                setTheme(theme)
                                showActiveTheme(theme)
                            })
                        }
                    )
                }
            })
        </script>

        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/font-awesome/css/all.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/tiny-slider/tiny-slider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/glightbox-master/dist/css/glightbox.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/plyr/dist/plyr.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/flatpickr/dist/flatpickr.css') }}">


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>

    <body {% block body_attributes %}{% endblock %}>
        {{ include('partials/_notyf.html.twig') }}
        {% block body %}{% endblock %}
        {% block footer %}{{ include('partials/_footer.html.twig') }}{% endblock %}
        <script>
            document.documentElement.setAttribute('data-bs-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        </script>
    </body>
</html>
